WebServiceDataHandler/Service References/GYReportServiceReference/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://gyreport.hshfy.sh.cn" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://gyreport.hshfy.sh.cn" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://gyreport.hshfy.sh.cn">
      <s:element name="getIndexValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="index_code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="beg_year" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="beg_month" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="beg_day" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="end_year" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="end_month" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="end_day" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fybm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bmbm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rybm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="others" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getIndexValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getIndexValueResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getIndexValueSoapIn">
    <wsdl:part name="parameters" element="tns:getIndexValue" />
  </wsdl:message>
  <wsdl:message name="getIndexValueSoapOut">
    <wsdl:part name="parameters" element="tns:getIndexValueResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="getIndexValue">
      <wsdl:input message="tns:getIndexValueSoapIn" />
      <wsdl:output message="tns:getIndexValueSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getIndexValue">
      <soap:operation soapAction="http://gyreport.hshfy.sh.cn/getIndexValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getIndexValue">
      <soap12:operation soapAction="http://gyreport.hshfy.sh.cn/getIndexValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost/gyreport/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost/gyreport/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>